/SWP_QuizPracticeCodeJava/dist/
/SWP_QuizPracticeCodeJava/SWP_QuizPracticeCodeJava/build/
/SWP_QuizPracticeCodeJava/SWP_QuizPracticeCodeJava/nbproject/private/
/SWP_QuizPracticeCodeJava/SWP_QuizPracticeCodeJava/dist/